@font-face {
  font-family: Garet sans-serif;
  src: url("../fonts/Poppins-Black.ttf");
  src: url("../fonts/Poppins-Bold.ttf");
  src: url("../fonts/Poppins-ExtraBold.ttf");
  src: url("../fonts/Poppins-SemiBold.ttf");
  src: url("../fonts/Poppins-Medium.ttf");
  src: url("../fonts/Poppins-Regular.ttf");
  src: url("../fonts/Poppins-Light.ttf");
  src: url("../fonts/Poppins-Thin.ttf");
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f2f5;
}
.container {
  padding: 100px 400px;
}

.header_content {
	width: 100%;
	height: 908px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
	padding: 5px 0;
}
.header_title {
  text-align: center;
  padding-top: 21px;
}
.header_title h1 {
	color: #2c2f33;
	font-size: 24px;
	padding-bottom: 5px;
}

form {
	border-top: 1px solid #dadde1;
	border-bottom: 1px solid #dadde1;
	height: 636px;
	padding: 20px;
}

form .form_content {
  line-height: 57px;
}
form .form_content input {
  padding: 11px;
  font-size: 15px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #ccd0d5;
  outline: none;
}
form .form_content input:focus {
  outline: 1px solid #2c2f33;
}

/* ========================= */
.input_image {
  text-align: center;
  border: 1px solid #ccd0d5;
  border-radius: 5px;
  color: #1c1e21;
  margin-bottom: 10px;
  line-height: 20px;
  padding: 10px 0;
}

.input_image input {
  display: none;
}

.input_image label {
  cursor: pointer;
}

.input_image img {
  width: 100px;
  height: 100px;
}

.input_image #imageName {
  color: green;
}
/* ========================= */

#first_name {
  margin-right: 10px;
  width: 215px;
}
#last_name {
  width: 215px;
}
#user_number {
  width: 468px;
}
#user_email {
  width: 468px;
}
#user_password {
  width: 468px;
}
#qualificaton {
  width: 468px;
}

.date_content {
  padding-top: 16px;
  padding-bottom: 9px;
  line-height: 28px;
}
.date_content label {
  color: #2c2f33;
}
.date_content #select_one {
  margin-right: 11px;
}
.date_content #select_two {
  margin-right: 11px;
}
.date_content select {
  border-radius: 4px;
  color: #1c1e21;
  font-size: 15px;
  font-weight: normal;
  height: 36px;
  line-height: 20px;
  width: 154px;
  border: 1px solid #ccd0d5;
  padding-left: 9px;
  background: transparent;
}
.date_content select:focus {
  border: 1px solid #2c2f33;
}
.date_content select option {
  background-color: #ffffff;
}

.gender_content {
	padding-top: 16px;
	padding-bottom: 50px;
	line-height: 28px;
}
.gender_content .gender_content-item .gender_span-one,
.gender_span-two,
.gender_span-three {
  border-radius: 4px;
  color: #1c1e21;
  font-size: 15px;
  font-weight: normal;
  padding: 9px;
  line-height: 20px;
  display: inline-block;
  border: 1px solid #ccd0d5;
}
.gender_content .gender_content-item .gender_span-one:active {
  border: 1px solid #2c2f33;
}
.gender_content .gender_content-item .gender_span-two:active {
  border: 1px solid #2c2f33;
}
.gender_content .gender_content-item .gender_span-three:active {
  border: 1px solid #2c2f33;
}

.male {
  padding-right: 79px;
}
.female {
  padding-right: 60px;
}
.custom {
  padding-right: 58px;
}

.gender_span-one {
  margin-right: 9px;
}

.gender_span-two {
  margin-right: 9px;
}

.sign_up {
  text-decoration: none;
  background-color: #00a465;
  transition: background-color 0.5s ease;
  transform: scale(1);
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 54px;
  margin-left: 158px;
}
.sign_up:hover {
  background-color: #05965e;
}
